@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-Light.eot");
  src: local("Beatrice Deck Light"), local("BeatriceDeck-Light"),
    url("/fonts/BeatriceDeck-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-Light.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-Light.woff") format("woff"),
    url("/fonts/BeatriceDeck-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-BoldItalic.eot");
  src: local("Beatrice Deck Bold Italic"), local("BeatriceDeck-BoldItalic"),
    url("/fonts/BeatriceDeck-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-BoldItalic.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-BoldItalic.woff") format("woff"),
    url("/fonts/BeatriceDeck-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-Bold.eot");
  src: local("Beatrice Deck Bold"), local("BeatriceDeck-Bold"),
    url("/fonts/BeatriceDeck-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-Bold.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-Bold.woff") format("woff"),
    url("/fonts/BeatriceDeck-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-LightItalic.eot");
  src: local("Beatrice Deck Light Italic"), local("BeatriceDeck-LightItalic"),
    url("/fonts/BeatriceDeck-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/BeatriceDeck-LightItalic.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-LightItalic.woff") format("woff"),
    url("/fonts/BeatriceDeck-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-Extrabold.eot");
  src: local("Beatrice Deck Extrabold"), local("BeatriceDeck-Extrabold"),
    url("/fonts/BeatriceDeck-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-Extrabold.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-Extrabold.woff") format("woff"),
    url("/fonts/BeatriceDeck-Extrabold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-ExtraboldItalic.eot");
  src: local("Beatrice Deck Extrabold It"),
    local("BeatriceDeck-ExtraboldItalic"),
    url("/fonts/BeatriceDeck-ExtraboldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/BeatriceDeck-ExtraboldItalic.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-ExtraboldItalic.woff") format("woff"),
    url("/fonts/BeatriceDeck-ExtraboldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-ThinItalic.eot");
  src: local("Beatrice Deck Thin Italic"), local("BeatriceDeck-ThinItalic"),
    url("/fonts/BeatriceDeck-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-ThinItalic.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-ThinItalic.woff") format("woff"),
    url("/fonts/BeatriceDeck-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-Thin.eot");
  src: local("Beatrice Deck Thin"), local("BeatriceDeck-Thin"),
    url("/fonts/BeatriceDeck-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-Thin.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-Thin.woff") format("woff"),
    url("/fonts/BeatriceDeck-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-Medium.eot");
  src: local("Beatrice Deck Medium"), local("BeatriceDeck-Medium"),
    url("/fonts/BeatriceDeck-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-Medium.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-Medium.woff") format("woff"),
    url("/fonts/BeatriceDeck-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-RegularItalic.eot");
  src: local("Beatrice Deck Regular Ital"), local("BeatriceDeck-RegularItalic"),
    url("/fonts/BeatriceDeck-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/BeatriceDeck-RegularItalic.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-RegularItalic.woff") format("woff"),
    url("/fonts/BeatriceDeck-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-MediumItalic.eot");
  src: local("Beatrice Deck Medium Itali"), local("BeatriceDeck-MediumItalic"),
    url("/fonts/BeatriceDeck-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/BeatriceDeck-MediumItalic.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-MediumItalic.woff") format("woff"),
    url("/fonts/BeatriceDeck-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-Regular.eot");
  src: local("Beatrice Deck Regular"), local("BeatriceDeck-Regular"),
    url("/fonts/BeatriceDeck-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BeatriceDeck-Regular.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-Regular.woff") format("woff"),
    url("/fonts/BeatriceDeck-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeck-SemiboldItalic.eot");
  src: local("Beatrice Deck Semibold Ita"), local("BeatriceDeck-SemiboldItalic"),
    url("/fonts/BeatriceDeck-SemiboldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/BeatriceDeck-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/BeatriceDeck-SemiboldItalic.woff") format("woff"),
    url("/fonts/BeatriceDeck-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html {
  font-family: "Beatrice Deck", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
